* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include padding and borders in the element's total width and height */
  }
  
  .nav-div {
    /* background: linear-gradient(135deg, #ff9933, #ff9e3d 33.33%, #fff 33.33%, #fff 66.66%, #138808 66.66%); */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  #navbarText {
    color: rgb(0, 0, 0);
    font-size: 21px;
    display: flex;
    justify-content: flex-end;
  }
  
  .btn {
    margin-left: 10px;
    padding: 8px 12px;
    background-color: #ccf29b;
    color: rgb(72, 0, 0);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
  }
  
  .btn:hover {
    background-color: #88d3f4; /* Indian flag green */
    color: white;
  }
  
  .main-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
  }
  
  .image-container {
    flex: 1;
    padding: 20px 0;
  }
  
  .form-container {
    flex: 1;
    padding: 20px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    padding-top: 100px; 
  }
  