
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  margin:0;
  font-family: 'Roboto';
  box-sizing: border-box;
  
}

.navbar nav{
  display: flex;
  justify-content: flex-end;
 align-items: center;
  
}
.navbar a{
  text-decoration: none;
  color:#2C7865;
  justify-content: flex-start;
  font-weight: 500;
}

.navbar button{
  margin: 10px 40px;
  padding: 10px;
  border:1px solid #2C7865;
  border-radius: 5px;
  background-color:#2C7865;
  color:white;
  font-size: medium;
  justify-content: flex-end;
}
.navbar button a{
  color: white;
}
@media (max-width: 768px) {
  button {
    /* Adjust button size for smaller screens */
    width: 100px; /* Adjust width */
     height:50px;/* Adjust height */
    padding: 10px; /* Adjust padding */
    font-size: 6px; /* Adjust font size */
    font-weight: 200;
  }
  .cont{
    left:50%;
    right:50%;
    padding:12px;
    width: 150px;
    font-size: 12px;
  }
  .card{
    display: block;
  }
}
.imgg{
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.slidee{
  border-radius: 0.5rem;
  box-shadow: 0px opx 7px gray;
  width:100%;
  height:550px;
  opacity:0.8;
 
}
.arrow{
  position:absolute;
  width: 2rem;
  height: 2rem;
  color:white;
  
}
.arrow-left{
  left:1rem;
}
.arrow-right{
  right:1rem;
}

.slide-hidden{
  display: none;
}
.container{
  position:relative;
}
.cont{
  position:absolute;
  top:20%;
  left:40%;
  background-color:rgba(0,0,0,0.5);
  padding: 20px;
  color:wheat;
}

.card {
  margin: 0 auto;
  overflow: hidden;
  display: -webkit-inline-box; /* Set the display to flex */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 100px;
}


.card-content {
   /* Allow the content to grow and take remaining space */
  padding: 16px;
}
.card-header{
  margin: 20px;
  border: 1px solid #FF9800;
  border-left: #FF9800 solid 4px;
  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 8px;
  border-radius: 20%;
  color: #2C7865;
}
.card-header:hover{
  background-color:#aaee86;
  cursor: pointer;
}
.card-head{
  margin-top: 2rem;
}

.card-title {
  margin: 0;
  font-size: 1rem;
 
}



.chatbot{
  width:80%;
  margin: 0 auto;
  border: solid black 1px;
}
.flexdisp{
  display: flex;
  justify-content: flex-end;
}
button {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 3px solid #F5761A
  ;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: #F5761A
  ;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

button:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #F5761A
  ;
  z-index: -1;
}

button:hover, button:focus {
  color: white;
}

button:hover:before, button:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

button:active {
  transform: scale(0.9);
}
